<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Received Data</title>
</head>
<body>
    <h1>Received Data from ESP32</h1>
    <ul>
        {% for item in data %}
        <li>
            Temperature 1: {{ item.temperature1 }}°C,
            Temperature 2: {{ item.temperature2 }}°C,
            Temperature 3: {{ item.temperature3 }}°C,
            Bus Voltage 1: {{ item.busVoltage1 }} V,
            Current 1: {{ item.current1 }} mA,
            Power 1: {{ item.power1 }} mW,
            Bus Voltage 2: {{ item.busVoltage2 }} V,
            Current 2: {{ item.current2 }} mA,
            Power 2: {{ item.power2 }} mW,
            LDR 1: {{ item.ldr1 }},
            LDR 2: {{ item.ldr2 }},
            LDR 3: {{ item.ldr3 }}
        </li>
        {% endfor %}
    </ul>
</body>
</html>